<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <label>Adding a task</label>

    <form action="#" th:action="@{/addTask}" th:object="${task}"  method="POST">
        <table>
            <tr>
                <td>Title: </td>
                <td>
                    <label>
                        <input type="text" th:field="*{title}">
                    </label>
                </td>
            </tr>
            <tr>
                <td>Description: </td>
                <td>
                    <label>
                        <textarea th:field="*{description}" rows="5" cols="40"></textarea>
                    </label>
                </td>
            </tr>
        </table>
        <button type="submit" onclick="TaskAdded()">Add Task</button>
    </form>
<script>
    function TaskAdded() {
        alert("Task added!");
    }
</script>
</body>
</html>