<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <label>Adding a task</label>

    <form action="#" th:action="@{/addTask}" th:object="${task}" method="POST">
        <table>
                <td>Title: </td>
                <td><input type="text" th:field="*{title}"></td>
                <td th:text="${nameError}"></td>
            <tr>
                <td>Description: </td>
                <td><textarea th:field="*{description}" rows="5" cols="40"></textarea></td>
                <td th:errors="*{description}">r</td>
                <td th:text="${descriptionError}"></td>
            </tr>
        </table>
        <button type="submit">Add Task</button>
    </form>
<script>
</script>
</body>
</html>