<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label>Welcome. Please log in to se tasks</label>

<form action="#" th:action="@{/login}" th:object="${login}" method="POST">
    <table>
        <td>Username: </td>
        <td><input type="text" th:field="*{username}"></td>
        <td th:text="${usernameError}"></td>
        <tr>
            <td>Password: </td>
            <td><input id="passwordField" type="password" th:field="*{password}"></td>
            <td><input type="checkbox" onclick="showPassword()"></td>
            <td th:text="${passwordError}"></td>
        </tr>
    </table>
    <button type="submit">Login</button>
</form>
<script>
    function showPassword() {
    var showPassword = document.getElementById("passwordField");
    if (showPassword.type === "password") {
        passwordField.type = "text";
    } else {
        passwordField.type = "password";
    }
</script>
</body>
</html>