<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
<h1>Tasks</h1>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    </thead>
    <form action="#" th:action="@{/updateTask}" th:object="${tasks}" method="post">
    <tbody>
    <tr th:each="task: ${tasks}">
        <td th:text="${task.title}"></td>
        <td>
            <Textarea th:text="${task.description}"></textarea>
        </td>
        <td>
            <label>
                <select>
                    <option th:each="status : ${Statuses}" th:text="${status.name}"></option>
                </select>
            </label>
        </td>
    </tbody>
        <button text="Save">Save</button>
    </form>
</table>
    <button text="Add Task" th:action="">Add new Task</button>
</body>
</html>