<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
<h1>Tasks</h1>
<form action="#" th:action="@{/updateTask}" th:object="${tasks}" method="POST">
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task: ${tasks}">
        <td th:text="${task.title}"></td>
        <td>
            <Textarea th:text="${task.description}" rows="5" cols="40" disabled></textarea>
        </td>
        <td>
            <label>
                    <select th:name="Selected + ${task.title}">
                        <option th:each="status : ${Statuses}"
                                th:text="${status.name}"
                                th:selected="${task.status.name == status.name}"
                                th:value="${status.name}">
                        </option>
                    </select>
                </label>
            </td>
        </tbody>
    </table>
        <button type="submit">Save</button>
</form>

<form action="#" th:action="@{/addTask}" method="GET">
    <button text="Add Task">Add new Task</button>
</form>
</body>
</html>